<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Netherlands Biodiversity Data Services</title>
	<link rel="stylesheet" href="https://media.readthedocs.org/css/sphinx_rtd_theme.css" type="text/css">
</head>
<body class="wy-body-for-nav" role="document">
	<div class="wy-nav-content">
		<div class="section">
			<h1>Announcement launch of NBA v2 and discontinuation of NBA v0</h1>
			<p>
				The current version of our API (NBA v0) will be replaced by a new version (NBA v2) over the course of the following months. At this moment NBA v0 is still available but is no longer supported and will be discontinued on October 1, 2017.
			</p>
			<p>
				Note NBA v2 is not backward compatible with NBA v0. Documentation for NBA v2 will be published with the new software.
			</p>
			<p>
				NBA v2 has greatly improved query capabilities and a more stable and reliable query engine.
			</p>
			<p>
				For further information please contact the Naturalis development team: <a href="mailto:nba@naturalis.nl">nba@naturalis.nl</a>
			</p>
			<hr>
			<div role="contentinfo">
				<p>
					Naturalis Biodiversity Center. Posted: 15-05-2017
				</p>
			</div>
		</div>
	</div>
</body>
